<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lida.mapper.DetailOrdersMapper">

    <resultMap id="BaseResultMap" type="com.lida.entity.DetailOrders">
            <id property="ordersid" column="ordersId" jdbcType="INTEGER"/>
            <id property="dishesid" column="dishesId" jdbcType="INTEGER"/>
            <result property="dishesNum" column="dishes_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ordersId,dishesId,dishes_num
    </sql>
</mapper>
